{{- /* see https://vale.sh/manual/output/ */ -}}

{{- /* Keep track of our various counts */ -}}

{{- $e := 0 -}}
{{- $w := 0 -}}
{{- $s := 0 -}}
{{- $f := 0 -}}

{{- /* Range over the linted files */ -}}

{{- range .Files}}
{{- $f = add1 $f -}}
{{- $path := .Path -}}
{{- $lineWidth := 1 -}}
{{- $spanWidth := 1 -}}
{{- range .Alerts -}}
    {{- $lineText := printf "%d" .Line -}}
    {{- $spanText := printf "%d" (index .Span 0) -}}
    {{- if gt (len $lineText) $lineWidth -}}
        {{- $lineWidth = len $lineText -}}
    {{- end -}}
    {{- if gt (len $spanText) $spanWidth -}}
        {{- $spanWidth = len $spanText -}}
    {{- end -}}
{{- end -}}
{{- .Path | underline | indent 1 -}}

{{- /* Range over the file's alerts */ -}}

{{- range .Alerts -}}

{{- $error := "" -}}
{{- if eq .Severity "error" -}}
    {{- $error = "fail" | red -}}
    {{- $e = add1 $e  -}}
{{- else if eq .Severity "warning" -}}
    {{- $error = "warn" | yellow -}}
    {{- $w = add1 $w -}}
{{- else -}}
    {{- $error = "note" | blue -}}
    {{- $s = add1 $s -}}
{{- end}}

{{- $loc := printf "%*d:%-*d" $lineWidth .Line $spanWidth (index .Span 0) -}}
{{- $target := printf "vscode://file/%s/%s:%d:%d" (env "PWD") $path .Line (index .Span 0) -}}
{{- $linkedLoc := printf "\x1b]8;;%s\x1b\\%s\x1b]8;;\x1b\\" $target $loc -}}
{{ printf "%s %s %s: %s\n" $error $linkedLoc .Check .Message -}}
{{end -}}
{{end}}
{{- $e}} {{"errors" | red}}, {{$w}} {{"warnings" | yellow}} and {{$s}} {{"suggestions" | blue}} in {{$f}} {{$f | int | plural "file" "files"}}.
